.modal-overlay-supplier-produto {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-content-supplier-produto {
  max-width: 90%;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}


/* Botão de fechamento */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/* Fechar o modal */
.fechar-modal {
    margin-top: -0.5%;
    margin-right: -0.5%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 1060;
}

.fechar-modal i {
    font-size: 1.6rem;
}

.fechar-modal:hover {
    color: #ff0000;
    background-color: transparent;
    transform: scale(1.1) rotate(45deg);
}