

/* Estilo para o overlay do modal */
.modal-overlay-product {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Estilo para o conteúdo do modal */
.modal-content-product {
    position: relative;
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    height: 80%;
    overflow-x: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

/* Estilo do botão de fechar o modal */
.close-button {
    position: absolute;
    top: -1.5%;
    right: -1.5%;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 1060;
}

.close-button:hover {
    color: #ff0000;
    transform: scale(1.1) rotate(45deg);
}

/* Estilo do título dentro do modal */
.modal-content-product h2 {
    font-size: 2rem; /* Aumentei o tamanho do texto */
    font-weight: bold;
    color: #0891b2; /* Cor azul que estava antes */
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo dos inputs dentro do modal */
.modal-content-product input[type="text"],
.modal-content-product input[type="number"],
.modal-content-product textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.9rem;
}

