


/* Fechar o modal */
.fechar {
    margin-top: -1.5%;
    margin-right: -1.5%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 1060;
}

.fechar i {
    font-size: 1.6rem;
}

.fechar:hover {
    color: #ff0000;
    background-color: transparent;
    transform: scale(1.1) rotate(45deg);
}