.supplier-list {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 8px;
    padding: 10px; 
    background-color: white; 
    max-height: 200px; 
    overflow-y: auto; 
}

.form-field {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(248, 250, 252);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.supplier-list li {
    background-color: #22d3ee;
    color: white;
}

.supplier-list li:hover {
    background-color: #38bdf8;
}

/*placehoder selecione fornecedor*/
#nome_fornecedor {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #22d3ee; 
}

#nome_fornecedor:hover {
    background-color: #38bdf8;
}

#nome_fornecedor::placeholder {
    color: white;
    opacity: 1;
}

/*botao de paginacao da escolha do fornecedor*/
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid white; 
    border-radius: 4px; 
    background-color: #22d3ee; 
    cursor: pointer; 
    color: white;
}

.pagination button:hover {
    background-color: #38bdf8;
}
