h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 10px; /* Centraliza verticalmente e ajusta a margem inferior */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos Gerais do Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* Impede o scroll no fundo */
    transition: background 0.3s ease;
}

.custom-btn-primary {
    color: white;
    background-color: #22d3ee;
}

.custom-btn-primary:hover {
    background-color: #18aec5;
}

.custom-btn-secondary {
    color: white;
    background-color: #dc3545;
}

.custom-btn-secondary:hover {
    background-color: #c82333;
}

.modal-content {
    background-color: rgba(248, 250, 252);
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 40vw;
    max-height: 85vh;
    overflow-y: auto; /* Permitindo rolagem vertical se o conteúdo ultrapassar */
    position: relative;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Garante que o conteúdo ocupe toda a largura disponível */
    text-align: center;
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

/* Textarea específico para a descrição do produto */
.custom-modal-content textarea.descricao-produto {
    width: 100%;
    max-width: 700px;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    min-height: 150px; /* Aumenta a altura da área de texto para a descrição */
    resize: vertical; /* Permite ao usuário ajustar a altura manualmente se necessário */
}


/* Fechar o modal */
.close-button {
    margin-top: -10px;
    margin-right: -3px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 1060;
}

.close-button i {
    font-size: 1.6rem;
}

.close-button:hover {
    color: #ff0000;
    background-color: transparent;
    transform: scale(1.1) rotate(45deg);
}

/* Inputs e Textarea */
.custom-modal-content input,
.custom-modal-content textarea {
    width: 100%;
    max-width: 700px; /* Aumente o max-width */
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.custom-modal-content textarea {
    min-height: 100px;
    resize: vertical;
}

/* Estilizando os Botões */
.custom-modal-content .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px; /* Espaço superior entre o conteúdo e os botões */
}

.custom-modal-content .modal-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

/* Botões específicos */
.custom-modal-content .modal-buttons .cancel-button {
    background-color: #ccc;
    color: #000;
}

.custom-modal-content .modal-buttons .confirm-button {
    background-color: #ff0000;
    color: #fff;
}

/* Efeito de hover nos botões */
.custom-modal-content .modal-buttons button:hover {
    transform: scale(1.05); /* Efeito de hover */
}

.custom-modal-content .modal-buttons .cancel-button:hover {
    background-color: #bbb;
}

.custom-modal-content .modal-buttons .confirm-button:hover {
    background-color: #d00000;
}

/* Estilo do parágrafo */
.custom-modal-content p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px; /* Text large */
    font-weight: 600; /* Semibold */
    text-align: center; /* Centraliza o parágrafo */
}

.custom-form-group {
    margin-bottom: 1.5rem;
}

.unit-radio-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 2rem; /* Aumenta o espaçamento entre os botões */
    margin-bottom: 1.5rem;
}

.unit-radio-label {
    display: flex;
    align-items: center;
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa o texto mais destacado */
}

.unit-radio-input {
    margin-right: 0.5rem;
    transform: scale(1.2); /* Aumenta o tamanho dos botões de rádio */
}

/* styles.css */
.select-input {
    width: 100%;
    height: 50px; /* Aumentando a altura */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.select-input:focus {
    border-color: #4CAF50;
    outline: none;
}
