.batch-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(248, 250, 252);
}

.success-message {
    color: green;
    background-color: #e0ffe0;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 50px;
}

.color_conf{
    color: #22d3ee;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.insertProducts,
.dropProducts {
    flex: 1;
}


@media (max-width: 460px) {
    .text-xxs{
        font-size: 0.575rem;
    }
}