.batch-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 45px 0px 45px;
    border-radius: 8px;
    background-color: rgba(248, 250, 252);
}

/*
input.form-field {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    margin-top: 4px;  
}*/

.success-message {
    color: green;
    background-color: #e0ffe0;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 50px;
}

.color_conf{
    color: #22d3ee;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.insertProducts,
.dropProducts {
    flex: 1;
    min-width: 300px;
}