.supplier-select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 0.8rem; 
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.supplier-select option {
    font-size: 1em; 
}

.supplier-select option[value=""] {
    font-size: 0.8rem; 
}

.title-supplier {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}
