.check-shipping-products {
    margin: 20px 0px 20px 0px;
}

.product_list{
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-top: 20px;
    padding: 20px; 
}

.align_conf{
    text-align: center;
}

.page {
    display: flex;
    justify-content: space-between;
}

.page button {
    flex: 1;
    max-width: 100px;
}


/*responsividade*/

@media (max-width: 385px) {
    .product_list{
        margin-right: 2%;
        margin-left: -12%;
    }
}

@media (max-width: 361px) {
    .product_list{
        margin-right: 5%;
        margin-left: -14%;
    }

    .align_conf{
        margin-left: -20%;
    }
}