
.section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.generate-report-button {
  background-color: #22d3ee;
  color: black; 
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 30px;
}

.generate-report-button:hover {
  background-color: #38bdf8;
}