/* .Supplier-Products {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(248, 250, 252);
    border-radius: 8px;
}*/
.Supplier-Products {
    margin: 0px 10px 0px 0px  ;
    padding: 2% 2% 0 2%;
    background-color: rgba(248, 250, 252);
}

/*.Supplier-Products h2{
    margin-bottom: 7%;
}*/

.button-show-products,
.button-add-products,
.button-remove-products {
    padding: 1%;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #22d3ee; 
    cursor: pointer; 
    color: white;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
    /* margin: 15px 0px 15px 0px; */
}

.checkbox {
    margin-right: 3%;
}

.add-products {
    align-items: center;
    margin-top: 3%;
}

.button-show-products:hover {
    background-color: #38bdf8;
}

.supplier-checkbox {
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-top: 20px;
    padding: 20px; 
    background-color: rgba(248, 250, 252);
}

.Batch-Products {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/*.Batch-Products h3 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 20px;
    color: black;
}

.error-message {
    color: red;
    margin-left: 10px;
    font-size: 14px;
}

.Batch-Products ul {
    list-style-type: none;
    padding: 0;
}

.Batch-Products li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.Batch-Products strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.Batch-Products label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}


.button-remove-products {
    background-color: #dc3545; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.button-remove-products:hover {
    background-color: #c82333;
}
*/

.button-add-products:disabled {
    background-color: #d6d6d6;
    border-color: #ccc;
    cursor: not-allowed;
}

.dimension_conf{
    margin-bottom: 2%;
}

/*
.dimension_conf label{
    display: flex;
    flex-direction: column;
}*/

.dimension_conf h2{
    margin-top: 5%;
}

.button-remove-products {
    background-color: #dc3545;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10px;
}

.button-remove-products:hover {
    background-color: #c82333;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.row {
    display: contents;
}

.row span:last-child{
    border-right: none;
}