
.button-show-products,
.button-add-products,
.button-remove-products {
    padding: 1%;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #22d3ee; 
    cursor: pointer; 
    color: white;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

.checkbox {
    margin-right: 3%;
}

.add-products {
    align-items: center;
    margin-top: 3%;
}

.button-show-products:hover {
    background-color: #38bdf8;
}

.supplier-checkbox {
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-top: 20px;
    padding: 20px; 
    background-color: rgba(248, 250, 252);
}

.Batch-Products {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.button-add-products:disabled {
    background-color: #d6d6d6;
    border-color: #ccc;
    cursor: not-allowed;
}

.dimension_conf{
    margin-bottom: 2%;
}

.dimension_conf h2{
    margin-top: 5%;
}

.button-remove-products {
    background-color: #dc3545;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10px;
}

.button-remove-products:hover {
    background-color: #c82333;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.row {
    display: contents;
}

.row span:last-child{
    border-right: none;
}

@media (max-width: 460px) {
    .teste {
        width: 85px;
    }

    .test {
        width: 65px;
    }
}