.list-container {
    padding: 20px;
    background-color: rgba(248, 250, 252);
    margin-bottom: 10px;
    max-height: auto;
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
} 

.list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.list-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.item-name:hover {
    color: #22d3ee;
}

.item-details {
    font-size: 0.9rem;
    color: #666;
}

.item-category,
.item-sector {
    color: #6b7280;
}

.item-quantity {
    color: #9ca3af;
}

.item-actions {
    display: flex;
    gap: 10px;
}

.edit-button,
.delete-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.25rem;
    transition: color 0.3s ease;
    border-radius: 4px;
}

.edit-button {
    color: #22d3ee;
}

.edit-button:hover {
    color: #1e9dff;
}

.delete-button {
    color: #ef4444;
}

.delete-button:hover {
    color: #dc2626;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.pagination-button {
    padding: 8px 16px;
    background-color: #22d3ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #38bdf8;
}

.product-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-left: 4px solid #22d3ee;
    border-radius: 6px;
    font-size: 0.8rem;
    color: #444;
    display: flex;
    flex-direction: column;
    gap: 0px;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; 
        opacity: 1;
    }
}

.product-details p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.product-details p:last-child {
    border-bottom: none;
}

.list-container::-webkit-scrollbar {
    width: 8px;
}
