.searchbar-wrapper {
    margin-right: auto;
    display: flex;
    align-items: baseline; /* Alinha os itens ao topo */
    width: 40vh; /* Largura da barra de pesquisa */
}

.searchbar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px; /* Bordas arredondadas somente à esquerda */
    border-right: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative; /* Para posicionar o dropdown corretamente */
}

.dropdown-button {
    padding: 10px;
    background-color: #22d3ee; /* Cor do botão */
    color: white;
    border: 1px solid #22d3ee; /* Borda do botão */
    border-left: none; /* Remover borda esquerda */
    border-radius: 0 6px 6px 0; /* Bordas arredondadas somente à direita */
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #38bdf8;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Garante que o dropdown fique acima de outros elementos */
    margin-top: 5px; /* Espaço entre o botão e o dropdown */
    width: 200px; /* Largura do dropdown */
}

.category-select, .select-field {
    border: 1px solid #ccc;
    background: transparent; /* Fundo transparente */
    cursor: pointer; /* Cursor em forma de mão */
    color: #555; /* Cor do texto */
    width: 100%; /* Para ocupar toda a largura do dropdown */
}

.category-select:hover, .select-field:hover {
    background-color: #ececec;
}

.category-select:focus, .select-field:focus {
    outline: none; /* Remover contorno ao focar */
}

/* Estilo para os botões de ação */
.action-button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #22d3ee; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para os itens do dropdown */
.dropdown-content div {
    padding: 10px;
    cursor: pointer; /* Cursor em forma de mão */
    transition: background-color 0.2s; /* Transição suave para o hover */
}

.searchbar-button {
    margin-right: auto;
    margin-bottom: 10px; /* Espaço entre o botão e a SearchBar */
    padding: 10px 15px; /* Espaçamento interno do botão */
    background-color: #22d3ee; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 6px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave */
}

.searchbar-button:hover {
    background-color: #38bdf8; /* Cor ao passar o mouse */
}

/*responsividade*/

@media (max-width: 900px) {
    .searchbar-wrapper {

        flex-wrap: wrap;
    }
    
    .searchbar {
        width: 30%;
    }
}
