.form-field-categoria{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.category-select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 0.8rem; /* Tamanho padrão da fonte do select */
    height: 40px;
    width: 100%;    
    box-sizing: border-box;
}

.category-select option[value=""] {
    font-size: 1em; /* Tamanho maior para "Selecione uma categoria" */
}

.manage-categoria-button {
    padding: 8px 12px;
    background-color: #22d3ee;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px; /* Espaço entre o botão e o select */
    transition: background-color 0.5s ease;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}
