.select-field {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 0.8rem; /* Tamanho da fonte reduzido para o select */
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.select-field option {
    font-size: 1em; /* Tamanho de fonte para as opções */
}

.select-field option[value=""] {
    font-size: 0.8rem; /* Tamanho maior para "Selecione uma categoria" */
}

.manage-button {
    padding: 8px 12px;
    background-color: #22d3ee;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.5s ease;
}

.manage-button:hover {
    background-color: #18aec5;
    color: rgb(255, 255, 255);
}

.error-message {
    color: red;
    font-size: 0.875rem; /* Tamanho reduzido para mensagens de erro */
    margin-top: 5px;
}
